.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 25px;

    border-bottom: 1px solid rgb(229, 229, 229);
    padding-bottom: 36px;
    margin-bottom: 36px;
}
.content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content-item--title {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}
.content-item--text {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}