.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* в обычном flex управляет вверх/вниз, в реверсе лево/право */
    width: calc((100% - 60px) / 3);

    /* Работают в связке для картинок, картинке надо дать width 100% */
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none; /* убрать подчеркивания со ссылки*/
}
.card--img {
    display: flex;
    width: 100%;
}
.card--img img{
    width: 100%;
}
.card--title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: black;
}
/* при наведении на item второй стиль получит изменения */
.card:hover .card--title {
    color: rgb(37, 110, 235);
}

    /* color: rgb(37, 110, 235); */
.card--price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    color: black;
}
.card--desc-box {
   display: flex;
   flex-direction: column;
   row-gap: 4px;
}
.card--desc {
    font-size: 14px;
    line-height: 16px;
    color: rgb(196, 196, 196);
}


@media (max-width: 1200px) {
    .card {
        width: calc((100% - 60px) / 2); 
}
}

@media (max-width: 991px) {
    .card {
        width: calc((100% - 60px) / 2); 
    }
}

@media (max-width: 786px) {
    .card {
        width: calc((100% - 60px) / 2); 
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%; 
    }
}